
# MONGODB_URI = "" 
JWT_SECRET = ""
DEBOUNCE_API = ""

REDIS_HOST = ""
REDIS_PORT = 12345
REDIS_PASSWORD = ""

# STRIPE_SECRET_KEY = ""
# STRIPE_PUBLISHABLE_KEY = ""
# STRIPE_WEBHOOK_SECRET = ""

# Test 
STRIPE_SECRET_KEY = ""
 STRIPE_PUBLISHABLE_KEY = ""


COINPAYMENTS_PUBLIC_KEY = ""
COINPAYMENTS_PRIVATE_KEY = ""

GOOGLE_CLIENT_ID = ""
GOOGLE_CLIENT_SECRET = ""

TELEGRAM_BOT_USERNAME = ""
TELEGRAM_BOT_TOKEN = ""

LINKEDIN_CLIENT_ID = ""
LINKEDIN_CLIENT_SECRET = ""

PAYPROGLOBAL_ENCRYPTION_KEY = ""
PAYPROGLOBAL_IV = ""
